:root{

}
/*scrollbar*/
.has-scrollbar {
  padding-bottom: 5px;
}

  .has-scrollbar::-webkit-scrollbar {
      width: 2px;
      height: 2px;
  }

  .has-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border: 3px solid var(--white);
      -webkit-border-radius: 20px;
      border-radius: 20px;
  }

  .has-scrollbar:hover::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 90%);
  }

  .has-scrollbar::-webkit-scrollbar-thumb:hover {
      background: hsl(0, 0%, 80%);
  }
/*end*/
body{
  margin: 0;
  padding: 0;
}
.main-container{
  width: 100vw;
  height: 100vh;
}
.hreader-container{
  height: 10vh;
  width: 100%;
}

.msg-contianer{
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.msg{
  background: linear-gradient(45deg, #F5F5F5 0%, #fbb583 100%);
}
.btn-msg-action{
  border: none;
  border-radius: 8px;
  background: white;
}
.btn-msg-action:hover{
  background: #f1f1f1;
}

.answer-contianer{
  background: white;
  text-align: start;
}

.inser-container{
  background: #f2f2f2;
  display: grid;
  grid-template-columns: 90% 10%;

}
.msg-input{
  resize: none;
  background: #f2f2f2;
  overflow: scroll;
  height: 100%;
  width: 100%;
}
.msg-input:focus-visible {
  outline: none; /* enlève le contour par défaut */
}

.LoaderWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #747373;
  opacity: 0.6;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}






